body{
    background-color: rgb(248, 246, 213);
}
.container-1, .container-2, .container-3,.container-4,.container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div, .flex-box-container-2 div{
    padding:10px;
    border: 1px solid black;
    align-items: center;
}
.flex-box-container-2 img{
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 400px;
    max-height: 360px;
    width: auto;
    height: auto;
    box-shadow: 0px 10px 50px black;
}
.btn-btn-delete {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
.btn-btn-head{
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
.btn-btn-tail {
    background-color: silver;
    border: none;
    color: rgb(87, 64, 219);
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgb(48, 89, 223);
}